@model IEnumerable<Product>

@{
    ViewBag.Title = "產品清單";
    var lineId = (ViewBag.lineid==null)?0:(int)ViewBag.lineid;
    var highlight = "style='background-color:gray';";
}

@*@section treepath{
    <li><a href="#">@ViewBag.Title</a></li>
    }*@

<h2>Index</h2>

@if (!string.IsNullOrEmpty(Convert.ToString(TempData["ProductEditDoneMsg"])))
{
    <h2>@TempData["ProductEditDoneMsg"]</h2>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
             var products = Model.ToArray();
        }
        @for (var i = 0; i < products.Length; i++)
        {
            if (products[i].ProductId == lineId)
            {
                ViewBag.selectedItem = products[i];
            }

            @Html.HiddenFor(modelItem => products[i].ProductId)
            <tr @if (products[i].ProductId == lineId) { @: style="background-color:gray"
                                                                                  }>
                <td>
                    @Html.DisplayFor(modelItem => products[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Price)
                    @Html.ValidationMessageFor(modelItem => products[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Stock)
                    @Html.ValidationMessageFor(modelItem => products[i].Stock, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = products[i].ProductId }) |
                    @Html.ActionLink("Details", "Index", new { type="Detail", lineid = products[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = products[i].ProductId })
                    @Html.ActionLink("顯示詳細", "Index", new { lineid = products[i].ProductId })
                </td>
            </tr>
        }

   

    </table>

        <button class="btn btn-primary">批次更新</button>
    @Html.Action("Index", "OrderLines", new { id = lineId })
    //TODO: fix
    @*@if (ViewBag.type == "Detail")
    {
        @Html.Partial("Details", ViewData["selectedItem"])
    }
    else
    {
        @Html.Action("Index", "OrderLines", new { id = lineId })
    }*@
    @*@Html.Action("Index", "OrderLines", new { ProductId = 5 })*@
}
