@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!string.IsNullOrEmpty(Convert.ToString(TempData["ProductEditDoneMsg"])))
{
    <h2>@TempData["ProductEditDoneMsg"]</h2>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()) {

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            var products = Model.ToArray();
        }
        @for(var i =0;i<products.Length;i++) {
            @Html.HiddenFor(modelItem => products[i].ProductId)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => products[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Price)
                    @Html.ValidationMessageFor(modelItem => products[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Stock)
                    @Html.ValidationMessageFor(modelItem => products[i].Stock,"",new { @class = "text-danger" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=products[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id=products[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=products[i].ProductId })
                </td>
            </tr>
            }



    </table>

        <button class="btn btn-primary">批次更新</button>
}