@{
    ViewBag.Title = "About";
}

@*@section treepath{
  

    <li>
        @Html.ActionLink("About", "About", "Home")
    </li>
}*@

<h3>@ViewBag.Message</h3>

<h2>@ViewBag.Title.</h2>

<p>Use this armea to provide additional information.</p>

@Html.ActionLink("回首頁", "Index","Home", null, new { @class = "btn btn-primary" })
<a href="@Url.Action("Index","Home")" class="btn btn-primary">回首頁</a>
